<md-card class="repo_card">
  <div>
    <md-card-title>{{title}}
    </md-card-title>
    <md-card-subtitle class="repo_subtitle">{{repo.provider}}/{{user}}</md-card-subtitle>
  </div>

  <div class="repo_actions">
    <md-spinner *ngIf="spin"></md-spinner>
    <button md-icon-button *ngIf="(repo.active && !spin)">
      <md-icon>
        settings
      </md-icon>
    </button>
    <md-slide-toggle class="repo_toggle" [checked]="repo.active" (change)="toggle()"></md-slide-toggle>
  </div>
</md-card>
