.topic {
  margin-bottom: 1em;
}

.value{
  font-size: 2.5rem;
  margin: 5px 20px;
  /* color: #757575; */
  color: #173542;
}
.vendor-icon {
  line-height: 20px;
}
.big-button {
  text-align: left;
  font-size: 14px;
  line-height: 35px;
  padding: 0 25px;
  width: 190px;
  margin: 5px 5px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttons {
  display: inline-flex;
}
.labelslist {
  display: flex;
  margin-top: 1em;
}
.labelslist .issue-meta {
  flex: 0.5;
}
.labelslist a {
  text-decoration: none;
  color: inherit;
}
.labelslist .issue-highlight {
  padding: 1em;
  margin-right: 1em;
}
.labelslist .issue-highlight:hover {
  background: rgba(0,0,0,.04);
}
.labelslist .issue-labels {
  flex: 0.5;
}

@media only screen and (max-width: 435px) {
  .buttons {
      display: block;
  }
  .mat-card-title {
    text-align: center;
  }
  .value {
    margin: 0;
    color: #173542;
  }
  .flex-bar {
    display: grid !important;
  }
  .flex-bar md-input-container {
    margin-top: 1em;
  } 
}
