md-input-container{
  width: 100%;
}

.mat-input-container {
  background: #114a96;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.mat-input-container:hover {
  background: #337ac6;
}

/deep/ .mat-toolbar-row .mat-input-underline {
  display: none;
}

/deep/ .mat-toolbar-row .mat-input-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px !important;
  width: 100%;
}

/deep/ .mat-toolbar-row .mat-input-placeholder {
  color: rgba(255,255,255,.87) !important;
}
