md-input-container{
  width: 100%;
}

.mat-input-container {
  background: #3a535e;
  height: 45px;
  width: 330px;
  float: right;
  display: flex;
  align-items: center;
  border-radius: 2px;
  cursor: text;
  -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
  transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
.mat-input-container:hover {
  background: #5d727b;
}

/deep/ .mat-toolbar-row .mat-input-underline {
  display: none;
}

/deep/ .mat-toolbar-row .mat-input-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  padding-bottom: 0px !important;
  width: 100%;
}

/deep/ .mat-toolbar-row .mat-input-placeholder {
  color: rgba(255,255,255,.38);
}

/deep/ .mat-toolbar-row .mat-focused .mat-input-placeholder {
  color: rgba(0,0,0,.38) !important;
}

.mat-focused {
  width: 100%;
  color: black;
  background: white !important;
}

.mag-icon{
  padding-right: 30px;
  width: 24px !important;
  height:24px !important;
  vertical-align: middle !important;
}

@media (max-width:600px){
  .mat-input-container {
  width: 100%;
  }
}
