a {
  color: #607070;
  text-decoration: none;
}

.footer {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column
}

.footer-column .title {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #757575;
}

.footer-icon {
  line-height:20px;
  height: 21px;
}

.copyright {
  text-align: center;
  font-size: 1.2rem;
  color: #757575;
  padding-bottom: 10px;
}
