image: docker:1.10.3
services:
  - docker:dind

variables:
  DOCKER_DRIVER: overlay

before_script:
  - export TEST_IMAGE_NAME=registry.gitlab.com/$CI_PROJECT_PATH:${CI_COMMIT_REF_NAME/\//-}-$CI_COMMIT_SHA
  - export MASTER_IMG_NAME=registry.gitlab.com/$CI_PROJECT_PATH:latest
  - export RELEASE_IMG_NAME=registry.gitlab.com/$CI_PROJECT_PATH:release

build_image:
  script:
    - docker build -t $TEST_IMAGE_NAME .
    - docker login -e gitlab-ci@gitlab.com -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker push $TEST_IMAGE_NAME
  except:
    - master
    - release

master-image:
  script:
    - docker build $MASTER_IMG_NAME .
    - docker login -e gitlab-ci@gitlab.com -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker push $MASTER_IMG_NAME
  only:
    - master

release-image:
  script:
    - docker build $RELEASE_IMG_NAME .
    - docker login -e gitlab-ci@gitlab.com -u gitlab-ci-token -p $CI_JOB_TOKEN registry.gitlab.com
    - docker push $RELEASE_IMG_NAME
  only:
    - release
