<section>
  <div class="container header-section">
    <h3 class="light">
      Features
    </h3>
    <h5 class="light">
      GitMate helps you right on Git{{ '{' }}Hub,Lab{{ '}' }} - just like a coworker would.
    </h5>
 </div>
</section>

<br>

<section *ngFor="let item of features">
	<md-card class="feature-card">
		  <section class="center">
	    <div class="section-heading" style="display: flex;" >
	    	 <div>
	      <h5 class="light">{{item.title}}</h5>
       <div [innerHTML]="item.description"></div>
      </div>
      <div style="float: right">
       <img style="height:150px;" src="assets/images/{{item.img}}">
      </div>
	    </div>
	  </section>
	</md-card>
</section>

<br><br>
