<md-card>
    <h3>
      GitMate Press Kit
    </h3>
    <p>
      This page explains how you can use our logo and/or write about GitMate.io
      in public.
     </p>

     <h4>
       Textual Usage
     </h4>
     <p>Always spell GitMate with the proper casing.</p>
     <p>
       When using GitMate in without context, use <q>GitMate.io</q> to make it
       easy for people to understand what this is about.
     </p>
     <blockquote>
       By the way - I just found GitMate.io, a tool that automates issue
       triaging.
     </blockquote>

     <p>
       When referencing GitMate in longer texts with proper context, the
       <q>.io</q> is cumbersome and to be omitted.
       Especially if it is contextually clear what you refer to, the explicit
       reference is not needed.
     </p>
     <blockquote>
       Historically, the GitMate team has been working on automating a plethora
       of tedious tasks.
       To provide a focused product, they decided to focus on managing issues
       by applying their experiences with machine learning algorithms.
     </blockquote>

    <h4>
      Logo Usage
    </h4>
    <p>
      To use our logo on a light background, use
      <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_domain_light_bg.svg">our Inkscape SVG (vector)</a> or
      <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_domain_light_bg_1024.png">our PNG</a>.
      <b>If you can, a dark background is preferred however:</b> use
      <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_domain_blue_bg.svg">our Inkscape SVG (vector)</a> or
      <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_domain_blue_bg_1024.png">our PNG</a>.
    </p>
    <p>
      You can download our plain logo
      <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_circle.svg">as Inkscape SVG (vector)</a> or
      <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_circle_1024.png">as PNG</a>.
      If possible, use
      <a href="https://fonts.google.com/specimen/Roboto?selection.family=Roboto">
        Roboto Regular
      </a> and state our full domain in proper casing: <q>GitMate.io</q>.
      Ideal background colors are <code>#173542</code> or <code>#ffffff</code>.
    </p>

   <h4>
     Print Material, esp. Stickers and Shirts
   </h4>
   <p>
     If you want to print GitMate.io stickers or shirts, always include the
     domain to give context. Use
     <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_domain_circle.svg">our Inkscape SVG (vector)</a> or
     <a href="https://gitlab.com/gitmate/artwork/blob/master/logo/gitmate_domain_circle.png">our PNG</a>.
     The sticker should ideally be round cut and there should be no white border around the blue circle.
   </p>
   <p>
     For shirts, use our logo with our domain in Roboto (Regular) as stated and
     linked under "Logo Usage". It is recommended to put the domain to the
     right of the logo.
   </p>
</md-card>
