/* Typography */
body {
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 8rem;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1.20rem;
  margin: 0.41rem 0 0.328rem 0;
}

.center {
  text-align: center;
}

/* Header Section */
.header-section{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.feature-card {
	border-bottom: 2px solid #eff0f1;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}

ul {
  margin-left: 0;
  margin-top: 2em;
}
