<section>
  <div class="container header-section">
    <h3 class="light">
      We <i class="fa fa-heart"></i> Open Source
    </h3>
    <h5 class="light">
      GitMate is always <b>free</b> for <b>open source projects</b>.
    </h5>
    <h5 class="light">
      We do ask projects with a commercial background to sign up for one of the paid plans.
    </h5>
  </div>
</section>

<section>
  <div class="container header-section">
    <h3 class="light">
      Pricing
    </h3>
    <h5 class="light" style="color: #727272">
      All paid plans start with a 30-day free trial. No credit card required.
    </h5>
  </div>
</section>

<md-grid-list class="features-xs feature" [cols]="pricing.length" rowHeight="2:3">
  <md-grid-tile *ngFor="let item of pricing">
    <md-card style="padding:10px; width:100%" [style.height.px]="item.height">
      <div class="content">
        <h5 class="title center">{{item.title}}</h5>
        <h3 class="price-amount center">{{ item.price.amount }}</h3>
        <p class="price-limit center" *ngIf=" item.price.limit ">{{ item.price.limit }}</p>
        <hr style="width: 12%; margin-left: auto; margin-right: auto;">
        <ul style="margin-left: 0; margin-top: 2em;">
          <li *ngFor="let h of item.highlights">{{h}}</li>
        </ul>
        <ul class="feature-list center">
          <li>All GitMate <a routerLink='/features' routerLinkActive='active'>features</a></li>
          <li *ngFor="let f of item.features">
            <div [innerHTML]="f"></div>
          </li>
        </ul>
      </div>
      <div class="signup">
        <button class="big-button" class="login-btn" md-raised-button color="accent" (click)="loginGitHub()">
          SignUp with GitHub
        </button>
        <button class="big-button" class="login-btn" md-raised-button color="accent" (click)="loginGitLab()">
          SignUp with GitLab
        </button>
      </div>
    </md-card>
  </md-grid-tile>
</md-grid-list>

<div class="features-sm feature" *ngFor="let item of pricing">
  <md-card style="padding:10px; width:80vw; margin: 20px auto;">
    <div class="content">
      <h5 class="title center">{{item.title}}</h5>
      <h3 class="price-amount center">{{ item.price.amount }}</h3>
      <p class="price-limit center" *ngIf=" item.price.limit ">{{ item.price.limit }}</p>
      <ul style="margin-left: 0; margin-top: 2em;">
        <li *ngFor="let h of item.highlights">{{h}}</li>
      </ul>
      <ul class="feature-list center">
        <li>All GitMate <a routerLink='/features' routerLinkActive='active'>features</a></li>
        <li *ngFor="let f of item.features">
          <div [innerHTML]="f"></div>
        </li>
      </ul>
    </div>
    <div class="signup">
      <button class="big-button" class="login-btn" md-raised-button color="accent" (click)="loginGitHub()">
        SignUp with GitLab
      </button>
      <button class="big-button" class="login-btn" md-raised-button color="accent" (click)="loginGitLab()">
        SignUp with GitLab
      </button>
    </div>
  </md-card>
</div>
