/* Typography */
body {
  font-family: Roboto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

h1 {
  font-size: 8rem;
  margin: 2.1rem 0 1.68rem 0;
}

h2 {
  font-size: 3.56rem;
  margin: 1.78rem 0 1.424rem 0;
}

h3 {
  font-size: 2.92rem;
  margin: 1.46rem 0 1.168rem 0;
}

h4 {
  font-size: 2.28rem;
  margin: 1.14rem 0 0.912rem 0;
}

h5 {
  font-size: 1.64rem;
  margin: 0.82rem 0 0.656rem 0;
}

h6 {
  font-size: 1.20rem;
  margin: 0.41rem 0 0.328rem 0;
}

.center {
  text-align: center;
}

/* Header Section */
.header-section{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.feature-card {
  border-bottom: 2px solid #eff0f1;
}

ul {
  display: block;
  list-style-type: none;
  padding: 0;
}

.login-btn {
  flex: 1;
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.login-btn-icon {
  line-height: 1.5;
}

.feature-list li {
  color: #727272;
  padding: 5px 0px;
}

.feature .title {
  color: grey;
  font-weight: normal;
  padding: 5px 0px;
  font-size: 1.5rem;
}

.features-sm .title {
  padding: 0;
}

.feature .price-amount {
  font-size: 2.5rem;
  margin: 5px 0px;
}

.features-sm .price-amount {
  margin: 0;
}

.feature .price-limit {
  font-weight: normal;
}

.feature md-card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features-sm md-card {
  display: block;
}

.feature md-card .content {
  flex: 1;
}

.feature md-card .signup {
  display: flex;
  margin-bottom: 25px;
}

.features-sm md-card .signup {
  flex-direction: column;
  margin-bottom: 10px;
}

.feature md-card .signup button {
  font-size: 1em;
}

.features-sm md-card .signup button {
  margin: 10px;
}

@media screen and (max-width: 1060px){

  .features-xs {
    display: none;
  }
  .features-sm {
    display: block;
  }
}

@media screen and (min-width: 1061px){

  .features-xs {
    display: block;
  }
  .features-sm {
    display: none;
  }
}
