<section>
  <div class="container header-section">
    <h3 class="light">
      We Love Open Source &#9825;
    </h3>
    <h5 class="light">
      GitMate will always be free for open source projects.
    </h5>
    <h5 class="light">
      We do ask projects with a commercial background to sign up
      for one of the plans.
    </h5>
    <button class="big-button" style="width:70%" md-raised-button color="accent">Get Started for Free</button>
 </div>
</section>

<section>
  <div class="container header-section">
    <h3 class="light">
      Pricing
    </h3>
    <h5 class="light">
      All plans come with a 30 day trial
    </h5>
 </div>
</section>

<md-grid-list [cols]="pricing.length" rowHeight="2:3" style="margin-top: -3em; margin-bottom: -3em">
  <md-grid-tile *ngFor="let item of pricing">
  	<md-card style="padding:10px; width:100%" [style.height.px]="item.height">
  		<div>
  			<h5 class="light center" style="margin-top: 1em;">{{item.title}}</h5>
  			<h6 class="light center" style="color: grey; margin-bottom: 1em">{{ item.price }}</h6>
  			<hr style="width: 12%; margin-left: auto; margin-right: auto;">
  			<ul style="margin-left: 0; margin-top: 2em;">
  				<li *ngFor="let h of item.highlights">{{h}}</li>
  			</ul>
  			<button class="big-button" md-raised-button color="accent" style="width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;">
            GET STARTED
     </button>
     <ul style="margin-left: 0; margin-top: 1em;">
       <li>All GitMate <a routerLink='/features' routerLinkActive='active'>features</a></li>
       <li *ngFor="let f of item.features">
         <div [innerHTML]="f"></div>
       </li>
  			</ul>
  		</div>
  	</md-card>
  </md-grid-tile>

</md-grid-list>
