<md-input-container>
  <input mdInput #search [placeholder]="placeholder" [mdAutocomplete]="auto"
  [(ngModel)]="inputValue" (ngModelChange)="filteredResults = filterResults(inputValue);" (keydown)="onKeyDown($event)"
  (focus)="filteredResults = filterResults(inputValue);">
  <button md-icon-button mdSuffix (click)="onClear()"><md-icon>backspace</md-icon></button>
</md-input-container>

<md-autocomplete #auto="mdAutocomplete">
  <md-option (onSelectionChange)="onSelect($event, result)" *ngFor="let result of filteredResults" [value]="result">
    {{ result }}
  </md-option>
</md-autocomplete>
