<md-card>
  <h2>IMPRINT</h2>
  <h1>Legal Disclosure</h1>
  Information in accordance with section 5 TMG<br/><br/>
  GitMate UG (haftungsbeschränkt)<br/>
  Harburger Schloßstraße 6-12<br/>
  21079 Hamburg<br/>
  <br/>
  Vertretungsberechtige (Geschäftsführer)<br/>
  Lasse Schuirmann<br/>
  Sebastian Latacz<br/>
  <br/>
  Amtsgericht Hamburg<br/>
  HRB 146647<br/>
  <br/>
  VAT-ID: DE312558019<br/>

  <h2>Contact</h2>
  E-Mail: <a href="mailto:info@gitmate.io">info@gitmate.io</a><br>
  Internetaddress: <a href="https://www.gitmate.io" target="_blank">www.gitmate.io</a><br/>

  <div style="text-align: justify;">
    <br>
      Vector Credits: <a href="https://www.freepik.com">freepik.com</a> and <a href="https://vecteezy.com">vecteezy.com</a>
      <ul>
        <li><a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by Makyzz - Freepik.com</a></li>
        <li><a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by Iconicbestiary - Freepik.com</a></li>
        <li><a href="https://www.vecteezy.com/vector-art/136949-free-search-engine-optimization-vector">SEO vectors by Vecteezy.com</a></li>
        <li><a href="https://www.freepik.com/free-photos-vectors/infographic">Infographic vector created by Kreativkolors - Freepik.com</a></li>
        <li><a href="https://www.vecteezy.com/vector-art/113024-vector-computer">Vector Computer by Vecteezy.com</a></li>
        <li><a href="https://www.freepik.com/free-photos-vectors/hands">Hands vector created by Freepik</a></li>
        <li><a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by Freepik</a></li>
        <li><a href="https://www.freepik.com/free-photos-vectors/vintage">Vintage vector created by Freepik</a></li>
      </ul>
    </div>
  </md-card>
