<md-card>
    <h2>PRIVACY</h2>
    <div style="text-align: justify;">
        To serve our users betters, GitMate uses a secure service called <a href="https://www.smartlook.com/">Smartlook</a> to record movement and behavior of users.<br/>
        .<br/><br/>
        How is this data used?<br/>
        The data is used to accelerate the process of improving the user experience and making more informed decisions.<br/><br/>
        Opt-Out<br/>
        If you don't want the user behavior to be recorded, you can also opt out from Smartlook tracking <a href="https://www.smartlook.com/opt-out">here</a>.<br/><br/>
    </div>
</md-card>
