<section class="header-section center-block">
  <br>
  <h1 class="thin center">
    Incremental Code Analysis
  </h1>
  <h5 class="light center">
    for Java, C/C++, C#, JavaScript, Delphi, SQL and 55 Other Languages
  </h5>

  <br>
  <img src="assets/images/header.png"/>
  <br>
</section>

<section class="center grey lighten-4 features-section">
    <div class="container">
    <div class="row center-block">
      <div class="features features-top col m4 center-block">
        <br>
        <i class="fa fa-code" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Powerful Code Analysis</h6>
          <p>Get detailed feedback on bad practises, style inconsistencies and security issues.</p>
        </div>
      </div>
      <div class="features features-top col m4 center-block">
        <br>
        <i class="fa fa-crosshairs" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Risk Detection</h6>
          <p>Identify 50% of your bugs in 1% of your codebase before they happen.</p>
        </div>
      </div>
        <div class="features features-top col m4 center-block">
        <br>
        <i class="fa fa-gears" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Individual Configuration</h6>
          <p>Create your own coding guidelines and set priorities for your specific needs.</p>
        </div>
      </div>
    </div>
    <div class="row center-block">
      <div class="features features-bottom col m4 center-block">
        <br>
        <i class="fa fa-users" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Personal Service</h6>
          <p>Integrate GitMate into your existing stack in cooperation with experienced consultants</p>
        </div>
      </div>
      <div class="features features-bottom col m4 center-block">
        <br>
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Progress Dashboard</h6>
          <p>Visualize your codes quality progress and your monetary benefits. </p>
        </div>
      </div>
      <div class="features features-bottom col m4 center-block">
        <br>
        <i class="fa fa-code-fork" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Tight Integration</h6>
          <p>Use GitMate within your existing workflows in your Atlassian Suite, Subversion, Gerrit, or git.</p>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</section>

<section class="center">
  <br>
  <div class="center center-block section-heading">Sounds Interesting?</div>
  <br><br>
  <div class="container center-block">
    <a href="http://eepurl.com/cOBGmj" md-raised-button color="accent" class="action-btn">Get Updates on GitMate</a>
    <a href="mailto:info@gitmate.io" md-raised-button color="primary" class="action-btn">Get in Touch</a>
  </div>
  <br><br>

  <div style="text-align: center">
    <a style="display: inline-block; color: #607070" href="/disclaimer">Disclaimer</a><br>
  </div>
</section>
