<section class="header-section center-block">
  <br>
  <h1 class="thin center">
    Instant Code Reviews
  </h1>
  <h5 class="light center">
    Your Project. Your Language. Your Freedom.
  </h5>

  <img src="assets/images/header.png"/>
  <button md-raised-button>Get Started With GitMate</button>

  <br><br>
</section>

<section class="center grey lighten-4 features-section">
  <br>
    <h5 class="center-block section-heading">With every commit you push, get
      automated code review <br> right on GitHub.</h5>
    <br><br><br>
    <div class="container">
    <div class="row center-block">
      <div class="features col m4 center-block">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Code Quality</h6>
          <p>With GitMate, Developers skip the manual scrutinizing of simple
            formal errors.</p>
        </div>
      </div>
      <div class="features col m4 center-block">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Automatic Review</h6>
          <p>GitMate reviews every commit you push, and comments on it right
            on the GitHub UI.</p>
        </div>
      </div>
      <div class="features col m4 center-block">
        <i class="fa fa-diamond" aria-hidden="true"></i>
        <div>
          <h6 class="center-block normal">Multiple Languages Supported</h6>
          <p>GitMate supports over 53 languages, including all the popular
            languages.</p>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</section>

<section class="feature-detail-section">
  <br>
  <div class="row">
    <div class="fds-content">
      <p class="center-block letter-spacing">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        CODE QUALITY
      </p>
      <div class="section-heading">GitMate is provides a code quality analysis for
        your code based on configuration file.</div>
      <h6 class="section-content light grey-text lighten-1">Superpowers. Lorem ipsum dolor sit amet,
         consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. </h6>
    </div>
    <div class="fds-img center-block">
      <img class='responsive-img' src="assets/images/rock.png"/>
    </div>
  </div>
</section>

<br><br>

<section class="feature-detail-section">
  <div class="row">
    <div class="fds-img center-block">
      <img class='center-block responsive-img' src="assets/images/rock2.png"/>
    </div>
    <div class="fds-content">
      <p class="center-block letter-spacing">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
        AUTOMATIC REVIEW
      </p>
      <div class="section-heading">GitMate starts reviewing the PR as soon as new
        commit is pushed.</div>
      <h6 class="section-content light grey-text lighten-1">More Superpowers.  Lorem ipsum dolor sit amet,
         consectetur adipisicing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. </h6>
    </div>
  </div>
</section>

<br><br>

<section class="feature-detail-section">
  <div class="row">
    <div class="fds-content">
      <p class="center-block letter-spacing">
        <i class="fa fa-laptop" aria-hidden="true"></i>
        EXTENSIVE SUPPORT
      </p>
      <div class="section-heading">GitMate supports over 53 languages.
        One less thing for you to worry about.</div>
      <h6 class="section-content light grey-text lighten-1">Some more Superpowers.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
         tempor incididunt ut labore et dolore magna aliqua. </h6>
    </div>
    <div class="fds-img center-block">
      <img class='responsive-img' src="assets/images/rock3.png"/>
    </div>
  </div>
</section>

<br>

<section class="grey center">
  <br>
  <div class="center center-block section-heading">Sounds Interesting?</div>
  <br>
  <div class="container center-block">
        <button md-raised-button>Get Started With GitMate CE</button>
    <br><br>
  </div>
</section>
