<md-card>
  <div class="flex-bar" "stuff">
    <section class="header-section center-block">
      <br>
      <h1 class="thin">
        Spend less time on code review
      </h1>
      <h5 class="light">
        GitMate provides instant feedback on style, redundancy, complexity and bad practices on every pull request.
      </h5>
    </section>

    <section class="center">
      <div *ngIf="!userDefined()" class="container center-block">
        <br>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          Use with GitHub&nbsp;&nbsp;
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-github" ></md-icon>
        </button>
        <br><br>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          Use with GitLab&nbsp;&nbsp;
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-gitlab" ></md-icon>
        </button>
        <br><br>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          Use with Bitbucket&nbsp;&nbsp;
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-bitbucket" ></md-icon>
        </button>
        <br><br>
      </div>
      <br><br>
    </section>
  </div>

<section class="feature-detail-section">
  <br>
  <div class="row">
    <div class="fds-content">
      <div class="section-heading">Keep your workflow</div>
      <h6 class="section-content light grey-text lighten-1">
        GitMate comments directly on your pull request in GitHub,
        GitLab or Bitbucket. Just like a co-worker would.
      </h6>
    </div>
    <div class="fds-img center-block">
      <img class='responsive-img' src="assets/images/rock2.png"/>
    </div>
  </div>
</section>

<br><br>

<section class="feature-detail-section">
  <div class="row">
    <div class="fds-img center-block">
      <img class='center-block responsive-img' src="assets/images/rock.png" style="margin-top:-4vw;"/>
    </div>
    <div class="fds-content">
      <div class="section-heading">Ensure consistency for the whole project</div>
      <h6 class="section-content light grey-text lighten-1">
        GitMate supports more than 60 programming languages
        and provides analysis for the entire repository.
      </h6>
    </div>
  </div>
</section>

<br><br>

<section class="feature-detail-section">
  <div class="row">
    <div class="fds-content">
      <div class="section-heading">Keep your coding style</div>
      <h6 class="section-content light grey-text lighten-1">
        GitMate offers detailed configuration to fit your coding style
        and provides sane and proven defaults for a quick start.
      </h6>
    </div>
    <div class="fds-img center-block">
      <img class='responsive-img' src="assets/images/rock3.png"/>
    </div>
  </div>
</section>

  <section class="center">
    <br>
    <div *ngIf="!userDefined()" class="center center-block section-heading">Start saving time on code review!</div>
    <br>
    <div *ngIf="!userDefined()" class="container center-block buttons">
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          Use with GitHub&nbsp;&nbsp;
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-github" ></md-icon>
        </button>
      </div>
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          Use with GitLab&nbsp;&nbsp;
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-gitlab" ></md-icon>
        </button>
      </div>
      <div>
        <button class="big-button" md-raised-button color="accent" (click)="loginGitHub()">
          Use with Bitbucket&nbsp;&nbsp;
          <md-icon class="vendor-icon" fontSet="fa" fontIcon="fa-bitbucket" ></md-icon>
        </button>
      </div>
    </div>
    <br><br>

    <div style="text-align: center">
      <a style="display: inline-block; color: #607070" href="/disclaimer">Disclaimer</a><br>
    </div>
  </section>
</md-card>
